$accentFont: "Raleway";

/*.logo {
  font-family: $accentFont;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: getColor("accent");
  text-decoration: none;
}*/
.logo {
  font-family: $accentFont;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: getColor("accent");
text-decoration: none;
}

/* do desktopu
.logo--top {
  margin-right: 93px;
}*/
.logo__header-text {
  color: #000;
}

@media screen and (min-width: 1200px){
  .logo {
     font-family: $accentFont;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: getColor("accent");
  text-decoration: none;
  }
}
